<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBStudentCon" connectionString="" providerName="System.Data.SqlClient"/>
    <add name="Student_Managment_SystemConnectionString" connectionString="Data Source=DESKTOP-K39OPM8\SQLEXPRESS;Initial Catalog=Student_Managment_System;User ID=sa;Password=Ami@70692" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>